<nav class="py-2">
    <div class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex justify-between items-center h-16">
            <!-- logo -->
            <div class="flex-shrink-0 flex items-center">
                <span class="text-white text-2xl font-bold">Suvodeep Das<span class="text-primary">.</span></span>
            </div>
            <!-- navlinks -->
            <div class="hidden sm:block ml-auto">
                <div class="ml-10 flex items-baseline space-x-4">
                    <a href="#about" class="text-white hover:underline px-3 py-2 text-sm font-medium">About</a>
                    <a href="#skills" class="text-white hover:underline px-3 py-2 text-sm font-medium">Skills</a>
                    <a href="#projects" class="text-white hover:underline px-3 py-2 text-sm font-medium">Projects</a>
                    <a href="#blogs" class="text-white hover:underline px-3 py-2 text-sm font-medium">Blogs</a>
                    <a href="#contact"
                        class="text-white border border-primary px-4 rounded-md py-2 text-sm font-medium hover:bg-primary">Contact</a>
                </div>
            </div>
            <!-- Mobile links -->
            <div class="sm:hidden flex items-center">
                <button id="mobile-menu-btn" type="button"
                    class="text-white hover:text-gray-400 focus:outline-none focus:text-gray-400"
                    aria-label="Toggle menu">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                    </svg>
                </button>
            </div>
        </div>
    </div>
    <div id="mobile-menu" class="hidden sm:hidden">
        <div class="px-2 pt-2 pb-3 space-y-1">
            <a href="#" class="text-white hover:underline block px-3 py-2 text-base font-medium">About</a>
            <a href="#" class="text-white hover:underline block px-3 py-2 text-base font-medium">Skills</a>
            <a href="#" class="text-white hover:underline block px-3 py-2 text-base font-medium">Projects</a>
            <a href="#" class="text-white hover:underline block px-3 py-2 text-base font-medium">Blogs</a>
            <div class="px-2">
                <a href=""
                    class="text-white border border-primary block px-3 py-2 rounded-none text-base font-medium hover:bg-primary focus:bg-primary mt-4">Contact</a>
            </div>
        </div>
    </div>
</nav>