<section class="blogs py-28">
    <div class="container max-w-xl mx-auto text-center px-4 sm:px-6 lg:px-8">
        <div class="flex items-center justify-center">
            <hr class="w-14 border-t-2 border-primary mr-4">
            <h6 class="text-primary font-bold text-xl mr-4">Blogs</h6>
        </div>
        <h2 class="text-white text-3xl lg:text-5xl font-bold mb-2 mt-4 mx-auto">Concepts simplified.</h2>
    </div>

    <div class="container max-w-6xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="space-y-12 my-16">
            <!-- Blog 1 -->
            <div
                class="w-full border border-white border-nav p-16 lg:px-32 lg:py-20 lg:space-x-32 flex justify-center lg:justify-start flex-wrap lg:flex-nowrap">
                <div class="mb-6 lg:mb-0">
                    <a href="https://medium.com/tensult/remotely-open-close-firewall-ports-in-ec2-managed-instance-using-powershell-scripts-4d6284ee68eb"
                        target="blank">
                        <img style="height:150px;width:340px" src="./assets/blog1.webp" />
                    </a>
                </div>
                <div class="flex flex-wrap justify-center text-center lg:text-left lg:block">
                    <h3 class="text-white text-2xl font-semibold">
                        <a href="https://medium.com/tensult/remotely-open-close-firewall-ports-in-ec2-managed-instance-using-powershell-scripts-4d6284ee68eb"
                            target="blank">Remotely Open/Close Firewall Ports in EC2 Managed Instance using PowerShell
                            Scripts
                        </a>
                    </h3>
                    <div class="w-full lg:w-auto flex flex-wrap justify-center lg:justify-start gap-3 mt-6 mb-8">
                        <div class="badge">AWS | Powershall Script</div>
                    </div>
                    <p class="text-secondary">Windows PowerShell is a command-line shell and scripting language designed
                        especially for system administration.</p>
                </div>
            </div>
            <!-- Blog 2 -->
            <div
                class="w-full border border-white border-nav p-16 lg:px-32 lg:py-20 lg:space-x-32 flex justify-center lg:justify-start flex-wrap lg:flex-nowrap">
                <div class="mb-6 lg:mb-0">
                    <a href="https://medium.com/@suvodeep4119/from-templating-engines-to-rest-apis-the-transition-74d2afeee329"
                        target="blank">
                        <img style="height:150px;width:300px" src="./assets/blog3.webp" />
                    </a>
                </div>
                <div class="flex flex-wrap justify-center text-center lg:text-left lg:block">
                    <h3 class="text-white text-2xl font-semibold">
                        <a href="https://medium.com/@suvodeep4119/from-templating-engines-to-rest-apis-the-transition-74d2afeee329"
                            target="blank">From templating engines to REST APIs — The transition.
                        </a>
                    </h3>
                    <div class="w-full lg:w-auto flex flex-wrap justify-center lg:justify-start gap-3 mt-6 mb-8">
                        <div class="badge">Node.js | Express.js</div>
                    </div>
                    <p class="text-secondary">REST = REpresentational State Transfer Simple translation, it means —
                        Transfer data instead of rendering HTML pages.</p>
                </div>

            </div>
            <!-- Blog 3 -->
            <div
                class="w-full border border-white border-nav p-16 lg:px-32 lg:py-20 lg:space-x-32 flex justify-center lg:justify-start flex-wrap lg:flex-nowrap">
                <div class="mb-6 lg:mb-0">
                    <a href="https://medium.com/@suvodeep4119/getting-around-bootstap-4-dropdown-with-custom-directives-in-angular-open-vs-show-a6af8e4b15c8"
                        target="blank">
                        <img style="height:150px;width:350px" src="./assets/blog4.png" />
                    </a>
                </div>
                <div class="flex flex-wrap justify-center text-center lg:text-left lg:block">
                    <h3 class="text-white text-2xl font-semibold">
                        <a href="https://medium.com/@suvodeep4119/getting-around-bootstap-4-dropdown-with-custom-directives-in-angular-open-vs-show-a6af8e4b15c8"
                            target="blank">Getting around Bootstap 4+ dropdown with Custom Directives in Angular:
                            ‘.open’ vs ‘.show’
                        </a>
                    </h3>
                    <div class="w-full lg:w-auto flex flex-wrap justify-center lg:justify-start gap-3 mt-6 mb-8">
                        <div class="badge">Bootstrap | Angular</div>
                    </div>
                    <p class="text-secondary">Bootstrap 4 has been out for quite a while now and there are lot of minor
                        changes observed in the current version.</p>
                </div>
            </div>
            <!-- Blog 4 -->
            <div
                class="w-full border border-white border-nav p-16 lg:px-32 lg:py-20 lg:space-x-32 flex justify-center lg:justify-start flex-wrap lg:flex-nowrap">
                <div class="mb-6 lg:mb-0">
                    <a href="https://medium.com/@suvodeep4119/javascript-tdd-using-jest-9b535c6be7be" target="blank">
                        <img style="height:150px;width:200px" src="./assets/blog2.webp" />
                    </a>
                </div>
                <div class="flex flex-wrap justify-center text-center lg:text-left lg:block">
                    <h3 class="text-white text-3xl font-semibold"></h3>
                    <h3 class="text-white text-2xl font-semibold">
                        <a href="https://medium.com/@suvodeep4119/javascript-tdd-using-jest-9b535c6be7be"
                            target="blank">JavaScript TDD using Jest
                        </a>
                    </h3>
                    <div class="w-full lg:w-auto flex flex-wrap justify-center lg:justify-start gap-3 mt-6 mb-8">
                        <div class="badge">JavaScript | JEST</div>
                    </div>
                    <p class="text-secondary">Test Driven Development(TDD) = Test First Development(TFD) + refactoring.
                    </p>
                </div>

            </div>
        </div>
    </div>

</section>