<section class="hero text-white py-28" id="about">
    <div class="container max-w-6xl mx-auto px-4 sm:px-6 lg:px-8">
        <h4 class="text-2xl font-bold text-primary lg:leading-[94px] lg:text-[38px]">Hello, I am Suvodeep</h4>
        <ngx-typed-js [strings]="['Backend Developer', 'Product Engineer']" [loop]="true" [typeSpeed]="50"
            [backSpeed]="50">
            <h1 class="text-4xl mt-3 font-bold lg:text-[88px] lg:leading-[94px]"><span class="typing"></span>
            </h1>
        </ngx-typed-js>
        <p class="mt-4 text-gray-500 font-normal text-base w-full lg:w-3/6">I am a MEAN stack(Backend heavy) developer with 4+ years of
            experience in building products.</p>
        <div class="mt-14">
            <div class="mt-6 flex items-center gap-3">
                <a href="mailto:suvodeep4119@gmail.com"
                    class="btn-primary border border-primary hover:bg-primary text-white rounded py-3 px-6 text-lg font-medium mr-4">Email</a>
                <a href="#" class="flex items-center text-gray text-lg font-bold">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="w-6 h-6" onclick="window.open('../../assets/SUVODEEP DAS_resume_2024.pdf')">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M3 16.5v2.25A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75V16.5M16.5 12L12 16.5m0 0L7.5 12m4.5 4.5V3" />
                    </svg>
                    <span class=" ml-2 hover:underline" onclick="window.open('../../assets/SUVODEEP DAS_resume_2024.pdf')">Resume</span>
                </a>
            </div>
        </div>
    </div>
</section>