<section class="projects mt-28 py-28 bg-light-dark" id="projects">
    <div class="container max-w-6xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="block md:flex items-center justify-between">
            <div>
                <div class="flex items-center">
                    <hr class="w-14 border-t-2 border-primary mr-4">
                    <h6 class="text-primary font-bold text-xl mr-4">Recent Work</h6>
                </div>
                <h2 class="text-white text-3xl lg:text-5xl font-bold mb-2 md:w3/4 mt-4">Some of my projects</h2>
            </div>
            <div class="mt-6 md:mt-0">
                <a href="#" class="text-white border border-primary px-3 py-2 rounded-none text-base font-medium hover:bg-primary focus:bg-primary mt-4">View all projects</a>
            </div>
        </div>
        <div class="flex flex-wrap -mx-4">
            <div class="w-full md:w-1/2 px-4 mt-20">
                <div class="relative">
                    <img src="../../assets/1.png" alt="" class="w-full grayscale">
                </div>
                <h5 class="text-[28px] font-semibold text-white mt-9">Shop-a-zon(Node + MongoDB + AWS)</h5>
                <div class="flex items-center text-primary font-medium text-xl mt-2 justify-between">
                    <a href="https://github.com/suvodeep4119/shop-a-zon-backend" class="flex items-center text-primary font-medium text-xl mt-2">
                        <span class="mr-2 hover:underline">Source code</span>
                        <svg width="50" height="47" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-6 h-6">
                            <path d="M7 17L17 7M17 7H8M17 7V16" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                    </a>
                    <a href="https://www.postman.com/cryosat-candidate-92053763/workspace/demo-node/collection/13830577-7468ce03-4aac-4a25-8293-6f387cf493bd?action=share&creator=13830577" class="flex items-center text-primary font-medium text-xl mt-2">
                        <span class="mr-2 hover:underline">Postman Collection</span>
                        <svg width="50" height="47" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-6 h-6">
                            <path d="M7 17L17 7M17 7H8M17 7V16" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                    </a>
                </div>
            </div>
            <div class="w-full md:w-1/2 px-4 mt-20">
                <div class="relative">
                    <img src="../../assets/2.png" alt="" class="w-full grayscale">
                </div>
                <h5 class="text-[28px] font-semibold text-white mt-9">Node-Express(JS) + PostGRE</h5>
                <div class="flex items-center text-primary font-medium text-xl mt-2 justify-between">
                    <a href="#" class="flex items-center text-primary font-medium text-xl mt-2">
                        <span class="mr-2 hover:underline">Source code</span>
                        <svg width="50" height="47" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-6 h-6">
                            <path d="M7 17L17 7M17 7H8M17 7V16" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                    </a>
                    <a href="#" class="flex items-center text-primary font-medium text-xl mt-2">
                        <span class="mr-2 hover:underline">Postman Collection</span>
                        <svg width="50" height="47" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-6 h-6">
                            <path d="M7 17L17 7M17 7H8M17 7V16" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                    </a>
                </div>
             
            </div>
            <div class="w-full md:w-1/2 px-4 mt-20">
                <div class="relative">
                    <img src="../../assets/3.png" alt="" class="w-full grayscale">
                </div>
                <h5 class="text-[28px] font-semibold text-white mt-9">Rust(Actix) + MongoDB</h5>
                <div class="flex items-center text-primary font-medium text-xl mt-2 justify-between">
                    <a href="#" class="flex items-center text-primary font-medium text-xl mt-2">
                        <span class="mr-2 hover:underline">Source code</span>
                        <svg width="50" height="47" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-6 h-6">
                            <path d="M7 17L17 7M17 7H8M17 7V16" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                    </a>
                    <a href="#" class="flex items-center text-primary font-medium text-xl mt-2">
                        <span class="mr-2 hover:underline">Postman Collection</span>
                        <svg width="50" height="47" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-6 h-6">
                            <path d="M7 17L17 7M17 7H8M17 7V16" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                    </a>
                </div>
            </div>
            <div class="w-full md:w-1/2 px-4 mt-20">
                <div class="relative">
                    <img src="../../assets/4.png" alt="" class="w-full grayscale">
                </div>
                <h5 class="text-[28px] font-semibold text-white mt-9">Go(Gin) + MongoDB</h5>
                <div class="flex items-center text-primary font-medium text-xl mt-2 justify-between">
                    <a href="https://github.com/suvodeep4119/go-backend" class="flex items-center text-primary font-medium text-xl mt-2">
                        <span class="mr-2 hover:underline">Source code</span>
                        <svg width="50" height="47" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-6 h-6">
                            <path d="M7 17L17 7M17 7H8M17 7V16" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                    </a>
                    <a href="#" class="flex items-center text-primary font-medium text-xl mt-2">
                        <span class="mr-2 hover:underline">Postman Collection</span>
                        <svg width="50" height="47" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-6 h-6">
                            <path d="M7 17L17 7M17 7H8M17 7V16" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>