<section class="contact py-10 bg-deep-gray" id="contact">
    <div class="container max-w-6xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="block md:flex items-center justify-between">
            <div>
                <h4 class="text-white text-3xl lg:text-[38px] font-bold mb-2">Have any product in mind ?</h4>
                <p class="text-gray mt-4">Feel free to ping me or just say a friendly Hello !</p>
            </div>
            <div class="mt-8 md:mt-0">
                <a href="#" class="bg-primary text-white rounded-none py-3 px-6 text-lg font-medium">Contact Me</a>
            </div>
        </div>
    </div>
</section>